USE [Coster]
GO
/****** Object:  StoredProcedure [dbo].[PickemGetGameMax]    Script Date: 09/05/2025 2:06:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[PickemGetGameMax]
    @WeekParam INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	SELECT MAX([Game]) AS MaxGames
	FROM PickemGames
	WHERE [Week] = @WeekParam 

END
GO
