USE [Coster]
GO
/****** Object:  StoredProcedure [dbo].[InsertPickemGames]    Script Date: 09/08/2025 2:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[InsertPickemGames]
    @WeekNumber INT
AS
BEGIN
    DECLARE @PlayerRecord INT;

    -- Declare a cursor to iterate through all player records
    DECLARE PlayerCursor CURSOR FOR
    SELECT [Record]
    FROM [dbo].[PickemPlayers];

    -- Open the cursor
    OPEN PlayerCursor;

    -- Fetch the first player record
    FETCH NEXT FROM PlayerCursor INTO @PlayerRecord;

    -- Loop through all player records
    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Insert data for the current player record
        INSERT INTO [dbo].[PickemGames] ([Week], [Game], [Player])
        SELECT p.[Week], p.[GameNumber], @PlayerRecord
        FROM [dbo].[PickemPool] p
        CROSS JOIN [dbo].[PickemPlayers] pp
        WHERE pp.[Record] = @PlayerRecord
        AND p.[Week] >= @WeekNumber;

        -- Fetch the next player record
        FETCH NEXT FROM PlayerCursor INTO @PlayerRecord;
    END

    -- Close and deallocate the cursor
    CLOSE PlayerCursor;
    DEALLOCATE PlayerCursor;
END
GO
