USE [Coster]
GO
/****** Object:  StoredProcedure [dbo].[GameEntry]    Script Date: 09/05/2025 2:06:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[GameEntry]
	@YearParam int,
	@WeekParam int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT Week
	, GameNumber
	, Visitor
	, VisitorWin
	, Home
	, HomeWin
	, VisitorScore
	, HomeScore
FROM PickemPool
WHERE Week = @WeekParam
AND Year = @YearParam
ORDER BY GameNumber
END
GO
