USE [Coster]
GO
/****** Object:  StoredProcedure [dbo].[PickemResultsByWeekSimple]    Script Date: 09/08/2025 2:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[PickemResultsByWeekSimple]
    @YearParam   INT,
    @WeekParam   INT,
    @PlayerParam INT  -- single player required for this simple shape
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH Raw AS
    (
        SELECT
            PP.GameNumber,

            -- Tie-break row?
            CASE WHEN PP.Visitor = 'Tie Break' THEN 1 ELSE 0 END AS IsTie,

            -- Human-readable matchup
            CASE WHEN PP.Visitor = 'Tie Break' THEN 'Total Points'
                 ELSE PP.Visitor + ' at ' + PP.[Home]
            END AS Matchup,

            -- Pull nicknames (last token) from the full names
            CA.VisitorNick,
            CA.HomeNick,

            -- Map nickname -> Init
            PIv.Init AS VisitorInit,
            PIh.Init AS HomeInit,

            -- Show pick as INIT (TB for tie row)
            CASE
                WHEN PP.Visitor = 'Tie Break' THEN 'TB'
                WHEN PG.VisitorWin = 1        THEN COALESCE(PIv.Init, CA.VisitorNick)
                WHEN PG.HomeWin    = 1        THEN COALESCE(PIh.Init, CA.HomeNick)
                ELSE NULL
            END AS Pick,

            -- Wager (show TB guess on tie row; treat 0 as NULL for neatness)
            CASE
                WHEN PP.Visitor = 'Tie Break' THEN PG.Wager
                WHEN PG.Wager = 0             THEN NULL
                ELSE PG.Wager
            END AS Wager,

            -- Per-row points; tie row contributes 0 here
            CASE
                WHEN PP.Visitor = 'Tie Break' THEN 0
                WHEN (PG.VisitorWin = 1 AND PP.VisitorWin = 1)
                  OR (PG.HomeWin    = 1 AND PP.HomeWin    = 1)
                  THEN ISNULL(PG.Wager,0)
                ELSE 0
            END AS PointsRaw
        FROM dbo.PickemGames   PG
        JOIN dbo.PickemPool    PP
          ON PP.[Year]=PG.[Year]
         AND PP.[Week]=PG.[Week]
         AND PP.GameNumber=PG.Game
        -- derive nicknames like 'Ravens', 'Chiefs', '49ers' from 'City Nickname'
        CROSS APPLY (
            SELECT
              VisitorNick = CASE WHEN PP.Visitor IS NULL OR PP.Visitor='Tie Break' THEN NULL
                                 ELSE RIGHT(PP.Visitor, CHARINDEX(' ', REVERSE(PP.Visitor)+' ')-1) END,
              HomeNick    = CASE WHEN PP.[Home] IS NULL THEN NULL
                                 ELSE RIGHT(PP.[Home],   CHARINDEX(' ', REVERSE(PP.[Home])  +' ')-1) END
        ) CA
        LEFT JOIN dbo.PickemInit PIv ON PIv.Team = CA.VisitorNick
        LEFT JOIN dbo.PickemInit PIh ON PIh.Team = CA.HomeNick
        WHERE PG.[Year]=@YearParam
          AND PG.[Week]=@WeekParam
          AND PG.[Player]=@PlayerParam
    ),
    Totals AS
    (
        SELECT SUM(PointsRaw) AS SumPoints
        FROM Raw
        WHERE IsTie = 0
    )
    SELECT
        r.Matchup,
        r.Pick,
        r.Wager,
        CASE WHEN r.IsTie = 1
             THEN (SELECT SumPoints FROM Totals)
             ELSE r.PointsRaw
        END AS Points
    FROM Raw r
    ORDER BY r.GameNumber;
END
GO
