USE [Coster]
GO
/****** Object:  StoredProcedure [dbo].[PickemPlayerCard]    Script Date: 09/05/2025 2:06:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[PickemPlayerCard]
    @YearParam   INT,
    @WeekParam   INT,
    @PlayerParam INT
AS
BEGIN
    SET NOCOUNT ON;

    /* Base rows for this player/week/year, pulling abbrs from PickemGames */
    WITH Base AS (
        SELECT
            PG.[Year],
            PG.Week,
            PG.Player,
            PPL.[Name]      AS PlayerName,
            PP.GameNumber,
            PP.Visitor,
            PP.[Home],
            PP.VisitorWin   AS PoolVisitorWin,
            PP.HomeWin      AS PoolHomeWin,
            PG.Wager,
            PG.VisitorWin   AS PickVisitorWin,
            PG.HomeWin      AS PickHomeWin,
            PP.VisitorAbbr,                 -- << from PickemGames
            PP.HomeAbbr                      -- << from PickemGames
        FROM dbo.PickemGames   AS PG
        JOIN dbo.PickemPlayers AS PPL ON PPL.Record = PG.Player
        JOIN dbo.PickemPool    AS PP
             ON PP.[Year]      = PG.[Year]
            AND PP.Week        = PG.Week
            AND PP.GameNumber  = PG.Game
        WHERE PG.[Year]  = @YearParam
          AND PG.Week    = @WeekParam
          AND PG.Player  = @PlayerParam
    ),
    PointsSum AS (
        SELECT
            b.Player, b.Week,
            SUM(CASE
                  WHEN b.Visitor <> 'Tie Break'
                   AND (
                        (b.PickHomeWin    = 1 AND b.PoolHomeWin    = 1)
                     OR (b.PickVisitorWin = 1 AND b.PoolVisitorWin = 1)
                   )
                  THEN b.Wager ELSE 0
                END) AS TotalPoints,
            MAX(CASE WHEN b.Visitor='Tie Break' THEN b.Wager END) AS TieBreakGuess
        FROM Base b
        GROUP BY b.Player, b.Week
    )
    SELECT
        Header    = b.PlayerName + ' (Tie Break Guess • ' + COALESCE(CONVERT(varchar(10), ps.TieBreakGuess), '-') + ')',
        b.GameNumber,
        Matchup   = CASE WHEN b.Visitor = 'Tie Break' THEN 'Total Points'
                         ELSE b.Visitor + ' at ' + b.[Home] END,

        /* Pick label uses the abbr straight from PickemGames */
        Label     = CASE
                      WHEN b.Visitor = 'Tie Break' THEN 'Points'
                      WHEN b.PickVisitorWin = 1 THEN b.VisitorAbbr
                      WHEN b.PickHomeWin    = 1 THEN b.HomeAbbr
                      ELSE '—'
                    END,

        /* Value = wager for games; for TB show the guess */
        Value     = CASE WHEN b.Visitor = 'Tie Break' THEN ps.TieBreakGuess
                         ELSE NULLIF(b.Wager, 0) END,

        Won       = CAST(
                      CASE
                        WHEN b.Visitor = 'Tie Break' THEN NULL
                        WHEN (b.PickHomeWin=1    AND b.PoolHomeWin=1)
                          OR (b.PickVisitorWin=1 AND b.PoolVisitorWin=1) THEN 1
                        ELSE 0
                      END AS bit),

        IsTotal   = CAST(CASE WHEN b.Visitor='Tie Break' THEN 1 ELSE 0 END AS bit),

        /* Explicit team abbreviations from PickemGames (no fallbacks) */
        VisitorAbbr = CASE WHEN b.Visitor = 'Tie Break' THEN 'TB' ELSE b.VisitorAbbr END,
        HomeAbbr    = CASE WHEN b.Visitor = 'Tie Break' THEN 'TB' ELSE b.HomeAbbr    END
    FROM Base b
    CROSS APPLY PointsSum ps
    ORDER BY b.GameNumber;
END
GO
