USE [Coster]
GO
/****** Object:  StoredProcedure [dbo].[PickemPodiumBySeason]    Script Date: 09/08/2025 2:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[PickemPodiumBySeason]
    @YearParam INT,
    @MaxWeek INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    /* ---------- Normalize base rows across the season ---------- */
    WITH Base AS (
        SELECT
            g.[Year],
            g.[Week],
            g.[Player],
            nt.NameTrim                                   AS PlayerName,   -- guaranteed non-blank
            p.GameNumber,
            p.Visitor,
            p.[Home],
            p.VisitorWin                                  AS PoolVisitorWin,   -- winner flags (may be null/0)
            p.HomeWin                                     AS PoolHomeWin,
            p.VisitorScore,
            p.HomeScore,
            g.Wager,
            g.VisitorWin                                  AS PickVisitorWin,
            g.HomeWin                                     AS PickHomeWin
        FROM dbo.PickemGames   AS g
        JOIN dbo.PickemPool    AS p
             ON p.[Year] = @YearParam
            AND g.[Year] = @YearParam
            AND p.Week   = g.[Week]
            AND p.GameNumber = g.[Game]
        JOIN dbo.PickemPlayers AS ppl
             ON ppl.Record = g.[Player]
        CROSS APPLY (SELECT NULLIF(LTRIM(RTRIM(ppl.[Name])), '') AS NameTrim) nt
        WHERE g.[Year] = @YearParam
          AND nt.NameTrim IS NOT NULL       -- 🚫 exclude placeholder/blank names
    ),

    /* ---------- Determine which weeks are completed ----------
       A week is complete if every non–"Tie Break" game has EITHER:
         - both scores present, OR
         - a winner flag set (PoolHomeWin=1 or PoolVisitorWin=1).
       This is more tolerant to your data-entry pattern. */
    WeekComplete AS (
        SELECT
            b.[Year],
            b.[Week],
            IsComplete =
              CASE
                WHEN COUNT(CASE WHEN b.Visitor <> 'Tie Break' THEN 1 END) > 0
                 AND SUM(CASE
                           WHEN b.Visitor <> 'Tie Break'
                                AND (
                                     (b.VisitorScore IS NOT NULL AND b.HomeScore IS NOT NULL)
                                     OR (ISNULL(b.PoolHomeWin,0) = 1 OR ISNULL(b.PoolVisitorWin,0) = 1)
                                    )
                           THEN 1 ELSE 0
                         END)
                     = COUNT(CASE WHEN b.Visitor <> 'Tie Break' THEN 1 END)
                THEN 1 ELSE 0
              END
        FROM Base b
        GROUP BY b.[Year], b.[Week]
    ),

    /* ---------- Tie-break actual totals per completed week (if present) ---------- */
    TB AS (
        SELECT
            p.[Year],
            p.[Week],
            TieBreakActual =
                CASE WHEN p.Visitor = 'Tie Break'
                     THEN NULLIF(ISNULL(p.VisitorScore,0) + ISNULL(p.HomeScore,0), 0)
                END
        FROM dbo.PickemPool p
        JOIN WeekComplete wc
          ON wc.[Year] = p.[Year]
         AND wc.[Week] = p.[Week]
        WHERE p.[Year] = @YearParam
          AND p.Visitor = 'Tie Break'
          AND wc.IsComplete = 1
    ),

    /* ---------- Per-player, per-week aggregates (only completed weeks) ---------- */
    AggWeekRaw AS (
        SELECT
            b.[Week],
            b.[Player] AS PlayerId,
            MAX(b.PlayerName) AS PlayerName,
            -- points only for non–tie games where pick matched posted result
            SUM(CASE
                    WHEN b.Visitor <> 'Tie Break'
                         AND (
                              (b.PickHomeWin    = 1 AND ISNULL(b.PoolHomeWin,0)    = 1)
                           OR (b.PickVisitorWin = 1 AND ISNULL(b.PoolVisitorWin,0) = 1)
                         )
                    THEN NULLIF(b.Wager,0) ELSE 0
                END) AS TotalPoints,
            SUM(CASE
                    WHEN b.Visitor <> 'Tie Break'
                         AND (
                              (b.PickHomeWin    = 1 AND ISNULL(b.PoolHomeWin,0)    = 1)
                           OR (b.PickVisitorWin = 1 AND ISNULL(b.PoolVisitorWin,0) = 1)
                         )
                    THEN 1 ELSE 0
                END) AS CorrectCount,
            MAX(CASE WHEN b.Visitor = 'Tie Break' THEN b.Wager END) AS TieBreakGuess,
            -- Did this player actually play this week?
            SUM(CASE WHEN b.Visitor <> 'Tie Break' AND ISNULL(b.Wager,0) > 0 THEN 1 ELSE 0 END) AS PlayedFlag
        FROM Base b
        JOIN WeekComplete wc
          ON wc.[Year] = b.[Year]
         AND wc.[Week] = b.[Week]
        WHERE wc.IsComplete = 1
        GROUP BY b.[Week], b.[Player]
    ),

    /* ---------- Attach tie-break actual and compute diff ---------- */
    AggWeek AS (
        SELECT
            a.[Week],
            a.PlayerId,
            a.PlayerName,
            a.TotalPoints,
            a.CorrectCount,
            a.TieBreakGuess,
            tb.TieBreakActual,
            CASE
              WHEN a.TieBreakGuess IS NULL OR tb.TieBreakActual IS NULL THEN NULL
              ELSE ABS(a.TieBreakGuess - tb.TieBreakActual)
            END AS TieBreakDiff,
            a.PlayedFlag
        FROM AggWeekRaw a
        LEFT JOIN TB tb
               ON tb.[Year] = @YearParam
              AND tb.[Week] = a.[Week]
        WHERE a.PlayedFlag > 0     -- only players who actually played
    ),

    /* ---------- Rank each completed week using weekly tie rules ---------- */
    RankedWeek AS (
        SELECT
            aw.*,
            DENSE_RANK() OVER (
              PARTITION BY aw.[Week]
              ORDER BY
                aw.TotalPoints DESC,
                CASE
                  WHEN aw.TieBreakGuess IS NULL OR aw.TieBreakActual IS NULL
                  THEN 2147483647
                  ELSE aw.TieBreakDiff
                END ASC,
                aw.CorrectCount DESC,
                aw.PlayerName ASC
            ) AS WeekRank
        FROM AggWeek aw
    )

    /* ---------- Season podium & totals ---------- */
    SELECT
        r.PlayerId,
        r.PlayerName,
        SUM(CASE WHEN r.WeekRank = 1 THEN 1 ELSE 0 END) AS Firsts,
        SUM(CASE WHEN r.WeekRank = 2 THEN 1 ELSE 0 END) AS Seconds,
        SUM(CASE WHEN r.WeekRank = 3 THEN 1 ELSE 0 END) AS Thirds,
        COUNT(*)                                         AS WeeksPlayed,   -- only includes completed weeks they actually played
        SUM(r.TotalPoints)                               AS SeasonPoints,
        SUM(r.CorrectCount)                              AS SeasonCorrect
    FROM RankedWeek r
    GROUP BY r.PlayerId, r.PlayerName
    ORDER BY
        Firsts        DESC,
        Seconds       DESC,
        Thirds        DESC,
        SeasonPoints  DESC,
        SeasonCorrect DESC,
        r.PlayerName  ASC;
END
GO
