USE [Coster]
GO
/****** Object:  StoredProcedure [dbo].[PickemPlayerUpdate]    Script Date: 09/08/2025 2:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[PickemPlayerUpdate]
	@WeekParam int
AS
BEGIN

	UPDATE PG
	SET 
		PG.Win = 
		CASE 
			WHEN PG.HomeWin = 1 AND PP.HomeWin = 1 THEN 1
			WHEN PG.VisitorWin = 1 AND PP.VisitorWin = 1 THEN 1
			ELSE 0
			END,
    
		PG.Points = 
		CASE 
			WHEN PG.HomeWin = 1 AND PP.HomeWin = 1 THEN PG.Wager
			WHEN PG.VisitorWin = 1 AND PP.VisitorWin = 1 THEN PG.Wager
			ELSE 0
		END

	FROM PickemGames PG
	INNER JOIN PickemPool PP ON PG.Week = PP.Week AND PG.Game = PP.GameNumber
	INNER JOIN PickemPlayers PPL ON PG.Player = PPL.Record
	WHERE PG.Week = @WeekParam;

	WITH GameResults AS (
		SELECT 
			PickemGames.Player,
			PickemGames.Week,
			PickemPlayers.Name,
			PickemGames.Game,
			PickemGames.Wager,
			PickemPool.Visitor,
			PickemGames.VisitorWin,
			PickemPool.Home,
			PickemGames.HomeWin,
			CASE 
				WHEN PickemGames.HomeWin = 1 AND PickemPool.HomeWin = 1 THEN 1
				WHEN PickemGames.VisitorWin = 1 AND PickemPool.VisitorWin = 1 THEN 1
				ELSE 0
			END AS Win
		FROM PickemGames
		INNER JOIN PickemPool 
			ON PickemGames.Week = PickemPool.Week 
			AND PickemGames.Game = PickemPool.GameNumber
		INNER JOIN PickemPlayers 
			ON PickemGames.Player = PickemPlayers.Record
		WHERE PickemGames.Week = @WeekParam
	)
	-- Aggregate the points by Player and Week
	, PointsSum AS (
		SELECT 
			Player,
			Week,
			SUM(Wager) AS TotalPoints
		FROM GameResults
		WHERE Win = 1
		GROUP BY Player, Week
	)

	-- Update the PickemGames table with the total points for "Tie Break"
	UPDATE PG
	SET PG.Points = PS.TotalPoints
	FROM PickemGames PG
	INNER JOIN PickemPool PP
		ON PG.Week = PP.Week 
		AND PG.Game = PP.GameNumber
	INNER JOIN PointsSum PS
		ON PG.Player = PS.Player
		AND PG.Week = PS.Week
	WHERE PP.Visitor = 'Tie Break'
	AND PG.Week = @WeekParam;
END
GO
