USE [Coster]
GO
/****** Object:  StoredProcedure [dbo].[PickemResultsByWeek]    Script Date: 09/08/2025 2:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[PickemResultsByWeek]
    @YearParam   INT,
    @WeekParam   INT,
    @PlayerParam INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @cols NVARCHAR(MAX);
    DECLARE @sql  NVARCHAR(MAX);

    /* Only include players who actually made a pick or a non-zero wager */
    ;WITH Players AS (
        SELECT DISTINCT
            COALESCE(NULLIF(LTRIM(RTRIM(ppl.[Name])),''),'Player_' + CONVERT(VARCHAR(10),ppl.[Record])) AS NameSafe
        FROM dbo.PickemGames   pg
        JOIN dbo.PickemPlayers ppl ON ppl.[Record]=pg.[Player]
        WHERE pg.[Year] = @YearParam
          AND pg.[Week] = @WeekParam
          AND (@PlayerParam IS NULL OR pg.[Player] = @PlayerParam)
          AND (
                (pg.VisitorWin = 1 OR pg.HomeWin = 1)           -- has a pick
             OR (pg.Wager IS NOT NULL AND pg.Wager <> 0)        -- or wagered (incl. tie-break)
              )
    )
    SELECT @cols = STUFF((
        SELECT
              ', MAX(CASE WHEN d.[PlayerName] = ''' + REPLACE(NameSafe,'''','''''') + ''' THEN d.[Pick]   END) AS ' + QUOTENAME(NameSafe)
            + ', MAX(CASE WHEN d.[PlayerName] = ''' + REPLACE(NameSafe,'''','''''') + ''' THEN d.[Wager]  END) AS ' + QUOTENAME(NameSafe + '_Wager')
            + ', MAX(CASE WHEN d.[PlayerName] = ''' + REPLACE(NameSafe,'''','''''') + ''' THEN d.[Points] END) AS ' + QUOTENAME(NameSafe + '_Points')
        FROM Players
        FOR XML PATH(''), TYPE
    ).value('.','nvarchar(max)'),1,2,'');

    IF (@cols IS NULL OR LEN(@cols)=0)
    BEGIN
        /* No eligible players -> no columns */
        SELECT CAST(NULL AS VARCHAR(100)) AS [Matchup] WHERE 1=0;
        RETURN;
    END;

    SET @sql = N'
    WITH Raw AS
    (
        SELECT
            PP.GameNumber,

            /* Identify tie-break row purely by Visitor text */
            CASE WHEN PP.Visitor = ''Tie Break'' THEN 1 ELSE 0 END AS IsTie,

            /* Human-readable matchup */
            CASE WHEN PP.Visitor = ''Tie Break'' THEN ''Total Points''
                 ELSE PP.Visitor + '' at '' + PP.[Home] END AS Matchup,

            /* Player label for pivot */
            COALESCE(NULLIF(LTRIM(RTRIM(PPL.[Name])),''''), ''Player_'' + CONVERT(varchar(10),PPL.[Record])) AS PlayerName,

            /* Parse nicknames (last token) from full team names for Init lookup */
            CA.VisitorNick,
            CA.HomeNick,

            /* Map nickname -> Init */
            PIv.Init AS VisitorInit,
            PIh.Init AS HomeInit,

            /* Display pick:
               - tie row: show the numeric TB guess (from PG.Wager) as text
               - normal rows: show team INIT as before
            */
            CASE
                WHEN PP.Visitor = ''Tie Break'' THEN CONVERT(varchar(10), PG.Wager)  -- << show TB guess
                WHEN PG.VisitorWin = 1 THEN COALESCE(PIv.Init, CA.VisitorNick)
                WHEN PG.HomeWin    = 1 THEN COALESCE(PIh.Init, CA.HomeNick)
                ELSE NULL
            END AS Pick,

            /* Wager: include tie-break guess for tie row, else zero -> NULL for readability
               (tie-row value will be replaced by SumPoints later in Final) */
            CASE
                WHEN PP.Visitor = ''Tie Break'' THEN PG.Wager
                WHEN PG.Wager = 0 THEN NULL
                ELSE PG.Wager
            END AS Wager,

            /* Per-row points (tie-break contributes 0 here) */
            CASE
                WHEN PP.Visitor = ''Tie Break'' THEN 0
                WHEN (PG.VisitorWin = 1 AND PP.VisitorWin = 1)
                  OR (PG.HomeWin    = 1 AND PP.HomeWin    = 1)
                  THEN ISNULL(PG.Wager,0)
                ELSE 0
            END AS PointsRaw
        FROM dbo.PickemGames   PG
        JOIN dbo.PickemPlayers PPL ON PPL.Record = PG.Player
        JOIN dbo.PickemPool    PP  ON PP.[Year]=@YearParam AND PG.[Year]=@YearParam
                                   AND PP.Week=PG.Week AND PP.GameNumber=PG.Game

        /* Split "City Nickname" -> Nickname (last token) */
        CROSS APPLY (
            SELECT
              VisitorNick = CASE 
                               WHEN PP.Visitor IS NULL OR PP.Visitor = ''Tie Break'' THEN NULL
                               ELSE RIGHT(PP.Visitor, CHARINDEX('' '', REVERSE(PP.Visitor)+'' '')-1)
                            END,
              HomeNick    = CASE
                               WHEN PP.[Home] IS NULL THEN NULL
                               ELSE RIGHT(PP.[Home], CHARINDEX('' '', REVERSE(PP.[Home])+'' '')-1)
                            END
        ) CA

        LEFT JOIN dbo.PickemInit PIv ON PIv.Team = CA.VisitorNick
        LEFT JOIN dbo.PickemInit PIh ON PIh.Team = CA.HomeNick

        WHERE PG.[Year]=@YearParam
          AND PG.[Week]=@WeekParam
          AND (@PlayerParam IS NULL OR PG.[Player]=@PlayerParam)
    ),
    /* Sum total points per player (used on tie row) */
    SumPerPlayer AS
    (
        SELECT PlayerName, SUM(PointsRaw) AS SumPoints
        FROM Raw
        GROUP BY PlayerName
    ),
    Final AS
    (
        SELECT
            R.GameNumber,
            R.Matchup,
            R.PlayerName,
            R.Pick,
            /* Tie row: Points = SumPoints */
            CASE WHEN R.IsTie = 1 THEN S.SumPoints ELSE R.PointsRaw END AS Points,
            /* Tie row: Wager column shows SumPoints (so TB guess moved to Pick) */
            CASE WHEN R.IsTie = 1 THEN S.SumPoints ELSE R.Wager END      AS Wager
        FROM Raw R
        LEFT JOIN SumPerPlayer S ON S.PlayerName = R.PlayerName
        /* Extra guard: keep only rows that show something */
        WHERE R.Pick IS NOT NULL OR R.Wager IS NOT NULL
    )
    SELECT d.Matchup, ' + @cols + '
    FROM Final d
    GROUP BY d.GameNumber, d.Matchup
    ORDER BY d.GameNumber;';

    EXEC sp_executesql
        @sql,
        N'@YearParam INT, @WeekParam INT, @PlayerParam INT',
        @YearParam=@YearParam, @WeekParam=@WeekParam, @PlayerParam=@PlayerParam;
END
GO
