USE [Coster]
GO
/****** Object:  StoredProcedure [dbo].[PickemGetWeekMax]    Script Date: 09/05/2025 2:06:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[PickemGetWeekMax]
    @YearParam INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT ISNULL(MAX([Week]), 0) AS MaxWeeks
    FROM dbo.PickemPool
    WHERE [Year] = @YearParam;
END
GO
