USE [Coster]
GO
/****** Object:  StoredProcedure [dbo].[PickemEntry]    Script Date: 09/08/2025 2:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[PickemEntry]
    @YearParam   INT,
    @WeekParam   INT,
    @PlayerParam INT
AS
BEGIN
    SET NOCOUNT ON;

    /* 1) Update this player's picks for the given Year+Week */
    UPDATE PG
    SET 
        PG.Win =
            CASE 
                WHEN PG.HomeWin = 1     AND PP.HomeWin    = 1 THEN 1
                WHEN PG.VisitorWin = 1  AND PP.VisitorWin = 1 THEN 1
                ELSE 0
            END,
        PG.Points =
            CASE 
                WHEN PG.HomeWin = 1     AND PP.HomeWin    = 1 THEN PG.Wager
                WHEN PG.VisitorWin = 1  AND PP.VisitorWin = 1 THEN PG.Wager
                ELSE 0
            END
    FROM dbo.PickemGames  AS PG
    INNER JOIN dbo.PickemPool   AS PP
        ON  PP.[Year]     = @YearParam      -- YEAR FILTER
        AND PG.[Year]     = @YearParam
        AND PG.Week       = PP.Week
        AND PG.Game       = PP.GameNumber
    INNER JOIN dbo.PickemPlayers AS PPL
        ON  PG.Player     = PPL.Record
    WHERE PG.Week   = @WeekParam
      AND PG.Player = @PlayerParam;

    /* 2) Sum winning wagers for the week (per player) and write to each player's Tie Break row */
    WITH GameResults AS (
        SELECT 
              PG.[Year]
            , PG.Player
            , PG.Week
            , PPL.[Name]
            , PG.Game
            , PG.Wager
            , PP.Visitor
            , PG.VisitorWin
            , PP.[Home]
            , PG.HomeWin
            , CASE 
                WHEN PG.HomeWin = 1    AND PP.HomeWin    = 1 THEN 1
                WHEN PG.VisitorWin = 1 AND PP.VisitorWin = 1 THEN 1
                ELSE 0
              END AS Win
        FROM dbo.PickemGames  AS PG
        INNER JOIN dbo.PickemPool   AS PP
            ON  PP.[Year]   = @YearParam
            AND PG.[Year]   = @YearParam
            AND PG.Week     = PP.Week
            AND PG.Game     = PP.GameNumber
        INNER JOIN dbo.PickemPlayers AS PPL
            ON  PG.Player   = PPL.Record
        WHERE PG.Week       = @WeekParam
          AND PG.[Year]     = @YearParam
    ),
    PointsSum AS (
        SELECT 
              [Year]
            , Player
            , Week
            , SUM(Wager) AS TotalPoints
        FROM GameResults
        WHERE Win = 1
        GROUP BY [Year], Player, Week
    )
    UPDATE PG
    SET PG.Points = PS.TotalPoints
    FROM dbo.PickemGames AS PG
    INNER JOIN dbo.PickemPool  AS PP
        ON  PP.[Year]   = @YearParam
        AND PG.[Year]   = @YearParam
        AND PG.Week     = PP.Week
        AND PG.Game     = PP.GameNumber
    INNER JOIN PointsSum AS PS
        ON  PS.[Year]   = PG.[Year]
        AND PS.Player   = PG.Player
        AND PS.Week     = PG.Week
    WHERE PP.Visitor = 'Tie Break'
      AND PG.Week    = @WeekParam;

    /* 3) Return rows for this player/week/year using the correct year's schedule */
SELECT 
      PPL.[Name]
    , PG.Record
    , PG.Game
    , PG.Wager
    , CASE 
        WHEN PP.Visitor = 'Tie Break' THEN 'Tie Break'
        WHEN NULLIF(piv.RecordSummary,'') IS NULL THEN PP.Visitor
        ELSE PP.Visitor + ' (' + piv.RecordSummary + ')'
      END AS Visitor
    , PG.VisitorWin
    , CASE 
        WHEN PP.Visitor = 'Tie Break' THEN 'Tie Break'
        WHEN NULLIF(pih.RecordSummary,'') IS NULL THEN PP.[Home]
        ELSE PP.[Home] + ' (' + pih.RecordSummary + ')'
      END AS [Home]
    , PG.HomeWin
    , CAST(PG.Win AS int) AS Win     -- <- cast to INT here
    , PG.Points
FROM dbo.PickemGames AS PG
    LEFT JOIN dbo.PickemPool AS PP
        ON  PP.[Year]     = @YearParam      -- YEAR FILTER
        AND PP.Week       = PG.Week
        AND PP.GameNumber = PG.Game
    LEFT JOIN dbo.PickemPlayers AS PPL
        ON  PPL.Record    = PG.Player
    LEFT JOIN dbo.PickemInit AS pih
        ON  pih.[Name]    = PP.[Home]
    LEFT JOIN dbo.PickemInit AS piv
        ON  piv.[Name]    = PP.Visitor
    WHERE PG.Week   = @WeekParam
      AND PG.Player = @PlayerParam
      AND PG.[Year] = @YearParam            -- <<< critical to avoid NULL Visitor/Home from other years
    ORDER BY PG.Player, PG.Game;
END
GO
