USE [Coster]
GO
/****** Object:  StoredProcedure [dbo].[PickemSeedSeason]    Script Date: 09/08/2025 2:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[PickemSeedSeason]
    @YearParam     INT,
    @ResetExisting BIT  = 0,
    @FillValues    BIT  = 0,      -- default OFF: only seed rows
    @RandomSeed    INT  = NULL    -- if set, shuffle/picks are reproducible
AS
BEGIN
  SET NOCOUNT ON; 
  SET XACT_ABORT ON;

  BEGIN TRY
    BEGIN TRAN;

    IF (@ResetExisting = 1)
      DELETE FROM dbo.PickemGames WHERE [Year] = @YearParam;

    INSERT INTO dbo.PickemGames ([Year],[Week],[Game],[Player])
    SELECT @YearParam, p.[Week], p.[GameNumber], ppl.[Record]
    FROM dbo.PickemPool p
    CROSS JOIN dbo.PickemPlayers ppl
    WHERE p.[Year] = @YearParam
      AND NOT EXISTS (
        SELECT 1 FROM dbo.PickemGames g
        WHERE g.[Year]=@YearParam AND g.[Week]=p.[Week]
          AND g.[Game]=p.[GameNumber] AND g.[Player]=ppl.[Record]
      );

    IF (@FillValues = 1)
    BEGIN
      /* ---- REAL GAMES: shuffled 1..N + random picks ---- */
      ;WITH RG AS (
        SELECT g.[Year], g.[Week], g.[Game], g.[Player]
        FROM dbo.PickemGames g
        JOIN dbo.PickemPool  p
          ON p.[Year]=g.[Year] AND p.[Week]=g.[Week] AND p.[GameNumber]=g.[Game]
        WHERE g.[Year]=@YearParam AND p.[Visitor] <> 'Tie Break'
      ),
      Permute AS (
        SELECT RG.*,
               -- Shuffle key: NEWID() (true shuffle), or deterministic hash when seeded
               ShuffleKey = CASE 
                 WHEN @RandomSeed IS NULL THEN NEWID()
                 ELSE CONVERT(uniqueidentifier,
                        SUBSTRING(
                          HASHBYTES('SHA2_256',
                              CONVERT(varbinary(4),@RandomSeed) +
                              CONVERT(varbinary(4),RG.[Year]) +
                              CONVERT(varbinary(4),RG.[Week]) +
                              CONVERT(varbinary(4),RG.[Game]) +
                              CONVERT(varbinary(4),RG.[Player])
                          ), 1, 16))
               END,
               -- Pick key: independent stream (different prefix to decorrelate)
               PickKey = CASE 
                 WHEN @RandomSeed IS NULL THEN NEWID()
                 ELSE CONVERT(uniqueidentifier,
                        SUBSTRING(
                          HASHBYTES('SHA2_256',
                              0x01 + CONVERT(varbinary(4),@RandomSeed) +
                                     CONVERT(varbinary(4),RG.[Year]) +
                                     CONVERT(varbinary(4),RG.[Week]) +
                                     CONVERT(varbinary(4),RG.[Game]) +
                                     CONVERT(varbinary(4),RG.[Player])
                          ), 1, 16))
               END
        FROM RG
      ),
      Ranked AS (
        SELECT P.*,
               WagerRank = ROW_NUMBER() OVER (
                 PARTITION BY P.[Year], P.[Week], P.[Player]
                 ORDER BY P.ShuffleKey         -- << true shuffle per (Y,W,Player)
               )
        FROM Permute P
      )
      UPDATE g
      SET g.Wager      = r.WagerRank,   -- 1..N unique
          g.VisitorWin = CASE WHEN (ABS(CHECKSUM(r.PickKey)) & 1) = 0 THEN 1 ELSE 0 END,
          g.HomeWin    = CASE WHEN (ABS(CHECKSUM(r.PickKey)) & 1) = 0 THEN 0 ELSE 1 END
      FROM dbo.PickemGames g
      JOIN Ranked r
        ON r.[Year]=g.[Year] AND r.[Week]=g.[Week]
       AND r.[Game]=g.[Game] AND r.[Player]=g.[Player];

      /* ---- TIE-BREAK: wager 20..80 + random picks (never NULL) ---- */
      ;WITH TB AS (
        SELECT g.[Year], g.[Week], g.[Game], g.[Player],
               TBKey = CASE 
                 WHEN @RandomSeed IS NULL THEN NEWID()
                 ELSE CONVERT(uniqueidentifier,
                        SUBSTRING(
                          HASHBYTES('SHA2_256',
                              0x02 + CONVERT(varbinary(4),@RandomSeed) +
                                     CONVERT(varbinary(4),g.[Year]) +
                                     CONVERT(varbinary(4),g.[Week]) +
                                     CONVERT(varbinary(4),g.[Game]) +
                                     CONVERT(varbinary(4),g.[Player])
                          ), 1, 16))
               END,
               PickKey = CASE 
                 WHEN @RandomSeed IS NULL THEN NEWID()
                 ELSE CONVERT(uniqueidentifier,
                        SUBSTRING(
                          HASHBYTES('SHA2_256',
                              0x03 + CONVERT(varbinary(4),@RandomSeed) +
                                     CONVERT(varbinary(4),g.[Year]) +
                                     CONVERT(varbinary(4),g.[Week]) +
                                     CONVERT(varbinary(4),g.[Game]) +
                                     CONVERT(varbinary(4),g.[Player])
                          ), 1, 16))
               END
        FROM dbo.PickemGames g
        JOIN dbo.PickemPool  p
          ON p.[Year]=g.[Year] AND p.[Week]=g.[Week] AND p.[GameNumber]=g.[Game]
        WHERE g.[Year]=@YearParam AND p.[Visitor]='Tie Break'
      )
      UPDATE g
      SET g.Wager      = 20 + (ABS(CHECKSUM(t.TBKey)) % 61),  -- 20..80
          g.VisitorWin = CASE WHEN (ABS(CHECKSUM(t.PickKey)) & 1) = 0 THEN 1 ELSE 0 END,
          g.HomeWin    = CASE WHEN (ABS(CHECKSUM(t.PickKey)) & 1) = 0 THEN 0 ELSE 1 END
      FROM dbo.PickemGames g
      JOIN TB t
        ON t.[Year]=g.[Year] AND t.[Week]=g.[Week]
       AND t.[Game]=g.[Game] AND t.[Player]=g.[Player];
    END

    COMMIT;
  END TRY
  BEGIN CATCH
    IF XACT_STATE()<>0 ROLLBACK; 
    THROW;
  END CATCH
END
GO
