USE [Coster]
GO
/****** Object:  StoredProcedure [dbo].[getValues]    Script Date: 09/05/2025 2:06:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[getValues]
    @type nvarchar(4)
AS
BEGIN
	DECLARE @json nvarchar(max)

	SELECT @json = BulkColumn
	FROM OPENROWSET (BULK 'C:\Users\CALVIN\projects\option_chain.json', SINGLE_CLOB) as j

	SET NOCOUNT ON;

	IF @type = 'put'
	BEGIN
		WITH putExpDateMapKeys (putExpDate, jsonPath) AS 
		(
			SELECT [key], N'$.putExpDateMap.' + quotename([key], N'"') 
			FROM OPENJSON(@json, N'$.putExpDateMap')
		)
		, strikePriceKeys (putExpDate, jsonPath) AS 
		(
			SELECT putExpDate, N'$.' + quotename(putExpDate, N'"') + N'.' + quotename([key], N'"')
			FROM putExpDateMapKeys
  
			CROSS APPLY OPENJSON (@json, jsonPath)
		)

		SELECT J.symbol, J.underlyingPrice, J.interestRate, S.putCall, putExpDate AS expdate, S.strikePrice, S.bid, S.ask, S.[last], S.symbol AS optionSymbol, S.volatility, S.daysToExpiration, S.mark
		FROM OPENJSON (@json) 

		WITH  
		(
			symbol NVARCHAR(4),
			underlyingPrice FLOAT,
			interestRate FLOAT,
			putExpDateMap NVARCHAR(max) AS JSON
		) J

		CROSS APPLY strikePriceKeys SPK

		OUTER APPLY OPENJSON (putExpDateMap, SPK.jsonPath) 

		WITH 
		(
			putCall NVARCHAR(4),
			strikePrice FLOAT,
			bid FLOAT,
			ask FLOAT,
			[last] FLOAT,
			symbol NVARCHAR(50),
			volatility FLOAT,
			daysToExpiration INT,
			mark FLOAT
		) S;
	END
ELSE
	BEGIN
		WITH callExpDateMapKeys (callExpDate, jsonPath) AS 
		(
			SELECT [key], N'$.callExpDateMap.' + quotename([key], N'"') 
			FROM OPENJSON(@json, N'$.callExpDateMap')
		)
		, strikePriceKeys (callExpDate, jsonPath) AS 
		(
			SELECT callExpDate, N'$.' + quotename(callExpDate, N'"') + N'.' + quotename([key], N'"')
			FROM callExpDateMapKeys
  
			CROSS APPLY OPENJSON (@json, jsonPath)
		)

		SELECT J.symbol, J.underlyingPrice, J.interestRate, S.putCall, callExpDate AS expdate, S.strikePrice, S.bid, S.ask, S.[last], S.symbol AS optionSymbol, S.volatility, S.daysToExpiration, S.mark
		FROM OPENJSON (@json) 

		WITH  
		(
			symbol NVARCHAR(4),
			underlyingPrice FLOAT,
			interestRate FLOAT,
			callExpDateMap NVARCHAR(max) AS JSON
		) J

		CROSS APPLY strikePriceKeys SPK

		OUTER APPLY OPENJSON (callExpDateMap, SPK.jsonPath) 

		WITH 
		(
			putCall NVARCHAR(4),
			strikePrice FLOAT,
			bid FLOAT,
			ask FLOAT,
			[last] FLOAT,
			symbol NVARCHAR(50),
			volatility FLOAT,
			daysToExpiration INT,
			mark FLOAT

		) S;
	END
END

GO
