USE [master]
GO
/****** Object:  Database [Payments]    Script Date: 8/27/2025 8:05:14 PM ******/
CREATE DATABASE [Payments]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Payments', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Payments.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Payments_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Payments_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Payments].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Payments]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 8/27/2025 8:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[Record] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50) NULL,
	[Balance] [money] NULL,
	[Account] [varchar](50) NULL,
	[Date] [date] NULL,
	[Amount] [money] NULL,
	[Expires] [date] NULL,
	[Link] [varchar](5000) NULL,
	[Weekly] [bit] NULL,
	[Flat] [bit] NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[Record] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Balance]    Script Date: 8/27/2025 8:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Balance](
	[Record] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50) NULL,
	[Date] [date] NULL,
	[Amount] [money] NULL,
	[Balance] [nchar](10) NULL,
 CONSTRAINT [PK_Balance] PRIMARY KEY CLUSTERED 
(
	[Record] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bank]    Script Date: 8/27/2025 8:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bank](
	[Record] [int] IDENTITY(1,1) NOT NULL,
	[Balance] [money] NULL,
 CONSTRAINT [PK_Bank] PRIMARY KEY CLUSTERED 
(
	[Record] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PickemGames]    Script Date: 8/27/2025 8:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PickemGames](
	[Record] [int] IDENTITY(1,1) NOT NULL,
	[Week] [int] NULL,
	[Game] [int] NULL,
	[Player] [int] NULL,
	[Wager] [int] NULL,
	[VisitorWin] [bit] NULL,
	[HomeWin] [bit] NULL,
	[Win] [bit] NULL,
	[Points] [int] NULL,
	[Year] [int] NULL,
 CONSTRAINT [PK_PickemGames] PRIMARY KEY CLUSTERED 
(
	[Record] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PickemInit]    Script Date: 8/27/2025 8:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PickemInit](
	[Record] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Init] [varchar](50) NULL,
	[Team] [varchar](50) NULL,
	[TeamId] [int] NULL,
	[RecordSummary] [varchar](50) NULL,
 CONSTRAINT [PK_PickemInit] PRIMARY KEY CLUSTERED 
(
	[Record] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PickemPlayers]    Script Date: 8/27/2025 8:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PickemPlayers](
	[Record] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Password] [varchar](255) NULL,
 CONSTRAINT [PK_PickemPlayers] PRIMARY KEY CLUSTERED 
(
	[Record] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PickemPool]    Script Date: 8/27/2025 8:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PickemPool](
	[Record] [int] IDENTITY(1,1) NOT NULL,
	[Week] [int] NULL,
	[GameNumber] [int] NULL,
	[Visitor] [varchar](50) NULL,
	[VisitorWin] [bit] NULL,
	[Home] [varchar](50) NULL,
	[HomeWin] [bit] NULL,
	[VisitorScore] [int] NULL,
	[HomeScore] [int] NULL,
	[Year] [int] NULL,
	[Date] [date] NULL,
	[Time] [nchar](10) NULL,
	[VisitorId] [int] NULL,
	[HomeId] [int] NULL,
	[VisitorAbbr] [varchar](8) NULL,
	[HomeAbbr] [varchar](8) NULL,
	[VisitorDisplay] [varchar](50) NULL,
	[HomeDisplay] [varchar](50) NULL,
 CONSTRAINT [PK_PickemPool] PRIMARY KEY CLUSTERED 
(
	[Record] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [UX_PickemPool_YearWeekGame]    Script Date: 8/27/2025 8:05:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_PickemPool_YearWeekGame] ON [dbo].[PickemPool]
(
	[Year] ASC,
	[Week] ASC,
	[GameNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts] ADD  CONSTRAINT [DF_Accounts_Weekly]  DEFAULT ((0)) FOR [Weekly]
GO
ALTER TABLE [dbo].[PickemGames] ADD  CONSTRAINT [DF_PickemGames_Wager]  DEFAULT ((0)) FOR [Wager]
GO
ALTER TABLE [dbo].[PickemPool] ADD  CONSTRAINT [DF_PickemPool_HomeWin]  DEFAULT ((0)) FOR [HomeWin]
GO
ALTER TABLE [dbo].[PickemPool] ADD  CONSTRAINT [DF_PickemPool_VisitorScore]  DEFAULT ((0)) FOR [VisitorScore]
GO
ALTER TABLE [dbo].[PickemPool] ADD  CONSTRAINT [DF_PickemPool_HomeScore]  DEFAULT ((0)) FOR [HomeScore]
GO
/****** Object:  StoredProcedure [dbo].[AccountsAdjustDate]    Script Date: 8/27/2025 8:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AccountsAdjustDate]
AS
BEGIN

	-- Loop until all dates are greater than or equal to today's date
	WHILE EXISTS (SELECT 1 FROM [dbo].[Accounts] WHERE [Date] < GETDATE())
	BEGIN
		-- For Monthly accounts
		UPDATE [dbo].[Accounts]
		SET [Date] = DATEADD(MONTH, 1, [Date])
		WHERE [Weekly] = 0
		AND [Date] < GETDATE();

		-- For Weekly accounts
		UPDATE [dbo].[Accounts]
		SET [Date] = DATEADD(DAY, 7, [Date])
		WHERE [Weekly] = 1
		AND [Date] < GETDATE();
	END

END
GO
/****** Object:  StoredProcedure [dbo].[BalanceProc]    Script Date: 8/27/2025 8:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[BalanceProc]
AS
BEGIN
	SELECT Description, Date, Amount, Balance
	FROM Balance
	ORDER BY Date, Description

END
GO
/****** Object:  StoredProcedure [dbo].[BalanceUpdate]    Script Date: 8/27/2025 8:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[BalanceUpdate]
AS
BEGIN
BEGIN TRANSACTION;

-- Step 1: Empty the Balance table
TRUNCATE TABLE [dbo].[Balance];

-- Step 2: Insert the first "Bank Balance" record
INSERT INTO [dbo].[Balance] ([Description], [Date], [Amount], [Balance])
SELECT 'Bank Balance', DATEADD(DAY, -1, GETDATE()), [Balance], [Balance]
FROM [dbo].[Bank];

-- Step 3: Loop through each Account and create balance records
DECLARE @Record INT, @Description NVARCHAR(255), @Date DATE, @Amount MONEY, @Balance MONEY, @Flat BIT, @Weekly BIT;
DECLARE @RunningBalance MONEY;

DECLARE account_cursor CURSOR FOR 
SELECT [Record], [Description], [Date], [Amount], [Balance], [Flat], [Weekly]
FROM [dbo].[Accounts];

OPEN account_cursor;

FETCH NEXT FROM account_cursor INTO @Record, @Description, @Date, @Amount, @Balance, @Flat, @Weekly;

WHILE @@FETCH_STATUS = 0
BEGIN
    SET @RunningBalance = @Balance;

    -- Loop to create Balance records until balance is zero or date exceeds one year from today
    WHILE @RunningBalance > 0 AND @Date <= DATEADD(YEAR, 1, GETDATE())
    BEGIN
        -- Insert balance record
        INSERT INTO [dbo].[Balance] ([Description], [Date], [Amount], [Balance])
        VALUES (@Description, @Date, 
                CASE 
                    WHEN @RunningBalance > -@Amount THEN @Amount
                    ELSE -@RunningBalance
                END,
				0
        );

        -- Reduce the running balance
		if @Flat = 0 
			BEGIN
		        IF @RunningBalance >= @Amount
					SET @RunningBalance = @RunningBalance + @Amount
				ELSE
					SET @RunningBalance = 0
			END

        -- Increment the date
        IF @Weekly = 1
            SET @Date = DATEADD(DAY, 7, @Date);
        ELSE
            SET @Date = DATEADD(MONTH, 1, @Date);

        -- Break the loop if Flat is checked
--            BREAK;
    END

    -- Fetch the next account record
    FETCH NEXT FROM account_cursor INTO @Record, @Description, @Date, @Amount, @Balance, @Flat, @Weekly;
END

CLOSE account_cursor;
DEALLOCATE account_cursor;

WITH OrderedBalance AS
(
    SELECT Record,
           Description,
           Date,
           Amount,
           Balance,
           ROW_NUMBER() OVER (ORDER BY Date, Description) AS RowNum
    FROM Balance
)
UPDATE b
SET b.Balance = 
    (
        SELECT SUM(ob.Amount)
        FROM OrderedBalance ob
        WHERE ob.RowNum <= OrderedBalance.RowNum
    )
FROM Balance b
JOIN OrderedBalance OrderedBalance ON b.Record = OrderedBalance.Record;

COMMIT TRANSACTION;

END
GO
/****** Object:  StoredProcedure [dbo].[GameEntry]    Script Date: 8/27/2025 8:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GameEntry]
	@YearParam int,
	@WeekParam int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT Week
	, GameNumber
	, Visitor
	, VisitorWin
	, Home
	, HomeWin
	, VisitorScore
	, HomeScore
FROM PickemPool
WHERE Week = @WeekParam
AND Year = @YearParam
ORDER BY GameNumber
END
GO
/****** Object:  StoredProcedure [dbo].[InsertPickemGames]    Script Date: 8/27/2025 8:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertPickemGames]
    @WeekNumber INT
AS
BEGIN
    DECLARE @PlayerRecord INT;

    -- Declare a cursor to iterate through all player records
    DECLARE PlayerCursor CURSOR FOR
    SELECT [Record]
    FROM [dbo].[PickemPlayers];

    -- Open the cursor
    OPEN PlayerCursor;

    -- Fetch the first player record
    FETCH NEXT FROM PlayerCursor INTO @PlayerRecord;

    -- Loop through all player records
    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Insert data for the current player record
        INSERT INTO [dbo].[PickemGames] ([Week], [Game], [Player])
        SELECT p.[Week], p.[GameNumber], @PlayerRecord
        FROM [dbo].[PickemPool] p
        CROSS JOIN [dbo].[PickemPlayers] pp
        WHERE pp.[Record] = @PlayerRecord
        AND p.[Week] >= @WeekNumber;

        -- Fetch the next player record
        FETCH NEXT FROM PlayerCursor INTO @PlayerRecord;
    END

    -- Close and deallocate the cursor
    CLOSE PlayerCursor;
    DEALLOCATE PlayerCursor;
END
GO
/****** Object:  StoredProcedure [dbo].[PickemEntry]    Script Date: 8/27/2025 8:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PickemEntry]
    @YearParam   INT,
    @WeekParam   INT,
    @PlayerParam INT
AS
BEGIN
    SET NOCOUNT ON;

    /* 1) Update this player's picks for the given Year+Week */
    UPDATE PG
    SET 
        PG.Win =
            CASE 
                WHEN PG.HomeWin = 1     AND PP.HomeWin    = 1 THEN 1
                WHEN PG.VisitorWin = 1  AND PP.VisitorWin = 1 THEN 1
                ELSE 0
            END,
        PG.Points =
            CASE 
                WHEN PG.HomeWin = 1     AND PP.HomeWin    = 1 THEN PG.Wager
                WHEN PG.VisitorWin = 1  AND PP.VisitorWin = 1 THEN PG.Wager
                ELSE 0
            END
    FROM dbo.PickemGames  AS PG
    INNER JOIN dbo.PickemPool   AS PP
        ON  PP.[Year]     = @YearParam      -- YEAR FILTER
        AND PG.[Year]     = @YearParam
        AND PG.Week       = PP.Week
        AND PG.Game       = PP.GameNumber
    INNER JOIN dbo.PickemPlayers AS PPL
        ON  PG.Player     = PPL.Record
    WHERE PG.Week   = @WeekParam
      AND PG.Player = @PlayerParam;

    /* 2) Sum winning wagers for the week (per player) and write to each player's Tie Break row */
    WITH GameResults AS (
        SELECT 
              PG.[Year]
            , PG.Player
            , PG.Week
            , PPL.[Name]
            , PG.Game
            , PG.Wager
            , PP.Visitor
            , PG.VisitorWin
            , PP.[Home]
            , PG.HomeWin
            , CASE 
                WHEN PG.HomeWin = 1    AND PP.HomeWin    = 1 THEN 1
                WHEN PG.VisitorWin = 1 AND PP.VisitorWin = 1 THEN 1
                ELSE 0
              END AS Win
        FROM dbo.PickemGames  AS PG
        INNER JOIN dbo.PickemPool   AS PP
            ON  PP.[Year]   = @YearParam
            AND PG.[Year]   = @YearParam
            AND PG.Week     = PP.Week
            AND PG.Game     = PP.GameNumber
        INNER JOIN dbo.PickemPlayers AS PPL
            ON  PG.Player   = PPL.Record
        WHERE PG.Week       = @WeekParam
          AND PG.[Year]     = @YearParam
    ),
    PointsSum AS (
        SELECT 
              [Year]
            , Player
            , Week
            , SUM(Wager) AS TotalPoints
        FROM GameResults
        WHERE Win = 1
        GROUP BY [Year], Player, Week
    )
    UPDATE PG
    SET PG.Points = PS.TotalPoints
    FROM dbo.PickemGames AS PG
    INNER JOIN dbo.PickemPool  AS PP
        ON  PP.[Year]   = @YearParam
        AND PG.[Year]   = @YearParam
        AND PG.Week     = PP.Week
        AND PG.Game     = PP.GameNumber
    INNER JOIN PointsSum AS PS
        ON  PS.[Year]   = PG.[Year]
        AND PS.Player   = PG.Player
        AND PS.Week     = PG.Week
    WHERE PP.Visitor = 'Tie Break'
      AND PG.Week    = @WeekParam;

    /* 3) Return rows for this player/week/year using the correct year's schedule */
SELECT 
      PPL.[Name]
    , PG.Record
    , PG.Game
    , PG.Wager
    , CASE 
        WHEN PP.Visitor = 'Tie Break' THEN 'Tie Break'
        WHEN NULLIF(piv.RecordSummary,'') IS NULL THEN PP.Visitor
        ELSE PP.Visitor + ' (' + piv.RecordSummary + ')'
      END AS Visitor
    , PG.VisitorWin
    , CASE 
        WHEN PP.Visitor = 'Tie Break' THEN 'Tie Break'
        WHEN NULLIF(pih.RecordSummary,'') IS NULL THEN PP.[Home]
        ELSE PP.[Home] + ' (' + pih.RecordSummary + ')'
      END AS [Home]
    , PG.HomeWin
    , CAST(PG.Win AS int) AS Win     -- <- cast to INT here
    , PG.Points
FROM dbo.PickemGames AS PG
    LEFT JOIN dbo.PickemPool AS PP
        ON  PP.[Year]     = @YearParam      -- YEAR FILTER
        AND PP.Week       = PG.Week
        AND PP.GameNumber = PG.Game
    LEFT JOIN dbo.PickemPlayers AS PPL
        ON  PPL.Record    = PG.Player
    LEFT JOIN dbo.PickemInit AS pih
        ON  pih.[Name]    = PP.[Home]
    LEFT JOIN dbo.PickemInit AS piv
        ON  piv.[Name]    = PP.Visitor
    WHERE PG.Week   = @WeekParam
      AND PG.Player = @PlayerParam
      AND PG.[Year] = @YearParam            -- <<< critical to avoid NULL Visitor/Home from other years
    ORDER BY PG.Player, PG.Game;
END
GO
/****** Object:  StoredProcedure [dbo].[PickemGetGameMax]    Script Date: 8/27/2025 8:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[PickemGetGameMax]
    @WeekParam INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	SELECT MAX([Game]) AS MaxGames
	FROM PickemGames
	WHERE [Week] = @WeekParam 

END
GO
/****** Object:  StoredProcedure [dbo].[PickemGetPlayerMax]    Script Date: 8/27/2025 8:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[PickemGetPlayerMax]
    @WeekParam INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	SELECT MAX([Player]) AS MaxPlayers
	FROM     PickemGames
	WHERE [Week] = @WeekParam 

END
GO
/****** Object:  StoredProcedure [dbo].[PickemGetWeekMax]    Script Date: 8/27/2025 8:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PickemGetWeekMax]
    @YearParam INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT ISNULL(MAX([Week]), 0) AS MaxWeeks
    FROM dbo.PickemPool
    WHERE [Year] = @YearParam;
END
GO
/****** Object:  StoredProcedure [dbo].[PickemPlayerCard]    Script Date: 8/27/2025 8:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PickemPlayerCard]
    @YearParam   INT,
    @WeekParam   INT,
    @PlayerParam INT
AS
BEGIN
    SET NOCOUNT ON;

    /* Base rows for this player/week/year with team abbrevs */
    WITH Base AS (
        SELECT
            PG.[Year],
            PG.Week,
            PG.Player,
            PPL.[Name]                                AS PlayerName,
            PP.GameNumber,
            PP.Visitor,
            PP.[Home],
            PP.VisitorWin                             AS PoolVisitorWin,
            PP.HomeWin                                AS PoolHomeWin,
            PG.Wager,
            PG.VisitorWin                             AS PickVisitorWin,
            PG.HomeWin                                AS PickHomeWin,
            PIv.Init                                  AS VisitorAbbr,
            PIh.Init                                  AS HomeAbbr
        FROM dbo.PickemGames  AS PG
        JOIN dbo.PickemPlayers AS PPL ON PPL.Record = PG.Player
        JOIN dbo.PickemPool    AS PP  ON PP.[Year]=@YearParam AND PG.[Year]=@YearParam
                                      AND PP.Week=PG.Week AND PP.GameNumber=PG.Game
        LEFT JOIN dbo.PickemInit AS PIv ON PIv.[Name] = PP.Visitor
        LEFT JOIN dbo.PickemInit AS PIh ON PIh.[Name] = PP.[Home]
        WHERE PG.[Year]=@YearParam
          AND PG.Week = @WeekParam
          AND PG.Player = @PlayerParam
    ),
    PointsSum AS (
        SELECT
            b.Player, b.Week,
            SUM(CASE
                    WHEN b.Visitor <> 'Tie Break'
                         AND (
                              (b.PickHomeWin=1    AND b.PoolHomeWin=1)
                           OR (b.PickVisitorWin=1 AND b.PoolVisitorWin=1)
                         )
                    THEN b.Wager ELSE 0 END) AS TotalPoints,
            MAX(CASE WHEN b.Visitor='Tie Break' THEN b.Wager END) AS TieBreakGuess
        FROM Base b
        GROUP BY b.Player, b.Week
    )
    SELECT
        Header   = b.PlayerName + ' (' + COALESCE(CONVERT(varchar(10), ps.TieBreakGuess), '-') + ')',
        b.GameNumber,
        Matchup  = CASE
                     WHEN b.Visitor = 'Tie Break' THEN 'Total Points'
                     ELSE b.Visitor + ' at ' + b.[Home]
                   END,
        /* Never NULL: pick’s abbr → 3-letter team name → em dash if no pick was made */
        Label    = CASE
                     WHEN b.Visitor = 'Tie Break' THEN 'Points'
                     WHEN b.PickVisitorWin = 1 THEN COALESCE(b.VisitorAbbr, LEFT(b.Visitor, 3))
                     WHEN b.PickHomeWin    = 1 THEN COALESCE(b.HomeAbbr,    LEFT(b.[Home], 3))
                     ELSE '—'
                   END,
        /* Show the wager for games; for tie-break, show the GUESS (not TotalPoints) */
        Value    = CASE
                     WHEN b.Visitor = 'Tie Break' THEN ps.TieBreakGuess
                     ELSE NULLIF(b.Wager, 0)
                   END,
        Won      = CAST(
                     CASE
                       WHEN b.Visitor = 'Tie Break' THEN NULL
                       WHEN (b.PickHomeWin=1    AND b.PoolHomeWin=1)
                         OR (b.PickVisitorWin=1 AND b.PoolVisitorWin=1) THEN 1
                       ELSE 0
                     END
                   AS bit),
        IsTotal  = CAST(CASE WHEN b.Visitor='Tie Break' THEN 1 ELSE 0 END AS bit)
    FROM Base b
    CROSS APPLY PointsSum ps
    ORDER BY b.GameNumber;
END
GO
/****** Object:  StoredProcedure [dbo].[PickemPlayerUpdate]    Script Date: 8/27/2025 8:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PickemPlayerUpdate]
	@WeekParam int
AS
BEGIN

	UPDATE PG
	SET 
		PG.Win = 
		CASE 
			WHEN PG.HomeWin = 1 AND PP.HomeWin = 1 THEN 1
			WHEN PG.VisitorWin = 1 AND PP.VisitorWin = 1 THEN 1
			ELSE 0
			END,
    
		PG.Points = 
		CASE 
			WHEN PG.HomeWin = 1 AND PP.HomeWin = 1 THEN PG.Wager
			WHEN PG.VisitorWin = 1 AND PP.VisitorWin = 1 THEN PG.Wager
			ELSE 0
		END

	FROM PickemGames PG
	INNER JOIN PickemPool PP ON PG.Week = PP.Week AND PG.Game = PP.GameNumber
	INNER JOIN PickemPlayers PPL ON PG.Player = PPL.Record
	WHERE PG.Week = @WeekParam;

	WITH GameResults AS (
		SELECT 
			PickemGames.Player,
			PickemGames.Week,
			PickemPlayers.Name,
			PickemGames.Game,
			PickemGames.Wager,
			PickemPool.Visitor,
			PickemGames.VisitorWin,
			PickemPool.Home,
			PickemGames.HomeWin,
			CASE 
				WHEN PickemGames.HomeWin = 1 AND PickemPool.HomeWin = 1 THEN 1
				WHEN PickemGames.VisitorWin = 1 AND PickemPool.VisitorWin = 1 THEN 1
				ELSE 0
			END AS Win
		FROM PickemGames
		INNER JOIN PickemPool 
			ON PickemGames.Week = PickemPool.Week 
			AND PickemGames.Game = PickemPool.GameNumber
		INNER JOIN PickemPlayers 
			ON PickemGames.Player = PickemPlayers.Record
		WHERE PickemGames.Week = @WeekParam
	)
	-- Aggregate the points by Player and Week
	, PointsSum AS (
		SELECT 
			Player,
			Week,
			SUM(Wager) AS TotalPoints
		FROM GameResults
		WHERE Win = 1
		GROUP BY Player, Week
	)

	-- Update the PickemGames table with the total points for "Tie Break"
	UPDATE PG
	SET PG.Points = PS.TotalPoints
	FROM PickemGames PG
	INNER JOIN PickemPool PP
		ON PG.Week = PP.Week 
		AND PG.Game = PP.GameNumber
	INNER JOIN PointsSum PS
		ON PG.Player = PS.Player
		AND PG.Week = PS.Week
	WHERE PP.Visitor = 'Tie Break'
	AND PG.Week = @WeekParam;
END
GO
/****** Object:  StoredProcedure [dbo].[PickemResultsByWeek]    Script Date: 8/27/2025 8:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PickemResultsByWeek]
    @YearParam   INT,
    @WeekParam   INT,
    @PlayerParam INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @cols NVARCHAR(MAX);
    DECLARE @sql  NVARCHAR(MAX);

    /* Build dynamic column list (optionally filtered by player) */
    ;WITH Players AS (
        SELECT DISTINCT
            COALESCE(NULLIF(LTRIM(RTRIM(ppl.[Name])),''),'Player_' + CONVERT(VARCHAR(10),ppl.[Record])) AS NameSafe
        FROM dbo.PickemGames   pg
        JOIN dbo.PickemPlayers ppl ON ppl.[Record]=pg.[Player]
        WHERE pg.[Year]=@YearParam
          AND pg.[Week]=@WeekParam
          AND (@PlayerParam IS NULL OR pg.[Player]=@PlayerParam)
    )
    SELECT @cols = STUFF((
        SELECT
              ', MAX(CASE WHEN d.[PlayerName] = ''' + REPLACE(NameSafe,'''','''''') + ''' THEN d.[Pick]   END) AS ' + QUOTENAME(NameSafe)
            + ', MAX(CASE WHEN d.[PlayerName] = ''' + REPLACE(NameSafe,'''','''''') + ''' THEN d.[Wager]  END) AS ' + QUOTENAME(NameSafe + '_Wager')
            + ', MAX(CASE WHEN d.[PlayerName] = ''' + REPLACE(NameSafe,'''','''''') + ''' THEN d.[Points] END) AS ' + QUOTENAME(NameSafe + '_Points')
        FROM Players
        FOR XML PATH(''), TYPE
    ).value('.','nvarchar(max)'),1,2,'');

    IF (@cols IS NULL OR LEN(@cols)=0)
    BEGIN
        SELECT CAST(NULL AS VARCHAR(100)) AS [Matchup] WHERE 1=0;
        RETURN;
    END;

    SET @sql = N'
    WITH Disambig AS (
        /* Optional disambiguations (examples) */
        SELECT 2024 AS [Year], 1 AS [Week], ''Home'' AS Role,    ''New York''   AS TeamText, ''Minnesota''     AS OppText, ''NY Giants''   AS CanonName UNION ALL
        SELECT 2024,              1,           ''Visitor'',       ''New York'',                 ''San Francisco'',           ''NY Jets''     UNION ALL
        SELECT 2024,              1,           ''Home'',          ''Los Angeles'',              ''Las Vegas'',               ''LA Chargers'' UNION ALL
        SELECT 2024,              1,           ''Visitor'',       ''Los Angeles'',              ''Detroit'',                 ''LA Rams''
    ),
    Raw AS (
        SELECT 
              PP.GameNumber,
              CASE WHEN PP.Visitor = ''Tie Break'' THEN ''Total Points''
                   ELSE PP.Visitor + '' at '' + PP.[Home] END                       AS Matchup,

              /* Player name shown in columns */
              COALESCE(NULLIF(LTRIM(RTRIM(PPL.[Name])),''''),''Player_''+CONVERT(varchar(10),PPL.[Record])) AS PlayerName,

              /* Disambiguated names for abbrev lookup */
              COALESCE(DH.CanonName, PP.[Home])    AS ResolvedHome,
              COALESCE(DV.CanonName, PP.[Visitor]) AS ResolvedVisitor,

              /* Displayed pick: abbrev if we have it, else readable */
              CASE
                WHEN PP.Visitor = ''Tie Break'' THEN CONVERT(varchar(20), ISNULL(PG.Wager,0))
                WHEN PG.VisitorWin = 1 THEN COALESCE(PIv.Init, COALESCE(DV.CanonName, PP.Visitor))
                ELSE COALESCE(PIh.Init, COALESCE(DH.CanonName, PP.[Home]))
              END AS Pick,

              /* Wager shown (tie-break shows guess) */
              CASE
                WHEN PP.Visitor = ''Tie Break'' THEN PG.Wager
                WHEN PG.Wager = 0 THEN NULL
                ELSE PG.Wager
              END AS Wager,

              /* Per-row game points before summing (tie-break contributes 0 here) */
              CASE
                WHEN PP.Visitor = ''Tie Break'' THEN 0
                WHEN (PG.VisitorWin = 1 AND PP.VisitorWin = 1)
                  OR (PG.HomeWin    = 1 AND PP.HomeWin    = 1)
                  THEN ISNULL(PG.Wager,0)
                ELSE 0
              END AS PointsRaw,

              CASE WHEN PP.Visitor = ''Tie Break'' THEN 1 ELSE 0 END AS IsTie
        FROM dbo.PickemGames   PG
        JOIN dbo.PickemPlayers PPL ON PPL.Record = PG.Player
        JOIN dbo.PickemPool    PP  ON PP.[Year]=@YearParam AND PG.[Year]=@YearParam
                                   AND PP.Week=PG.Week AND PP.GameNumber=PG.Game

        LEFT JOIN Disambig DH
               ON DH.[Year]=@YearParam AND DH.[Week]=@WeekParam
              AND DH.Role=''Home'' AND DH.TeamText=PP.[Home] AND DH.OppText=PP.Visitor
        LEFT JOIN Disambig DV
               ON DV.[Year]=@YearParam AND DV.[Week]=@WeekParam
              AND DV.Role=''Visitor'' AND DV.TeamText=PP.Visitor AND DV.OppText=PP.[Home]

        LEFT JOIN dbo.PickemInit PIh ON PIh.[Name]=COALESCE(DH.CanonName, PP.[Home])
        LEFT JOIN dbo.PickemInit PIv ON PIv.[Name]=COALESCE(DV.CanonName, PP.[Visitor])

        WHERE PG.[Year]=@YearParam
          AND PG.[Week]=@WeekParam
          AND (@PlayerParam IS NULL OR PG.[Player]=@PlayerParam)
    ),
    SumPerPlayer AS (
        SELECT PlayerName, SUM(PointsRaw) AS SumPoints
        FROM Raw
        GROUP BY PlayerName
    ),
    Final AS (
        SELECT 
              R.GameNumber,
              R.Matchup,
              R.PlayerName,
              R.Pick,
              R.Wager,
              CASE WHEN R.IsTie = 1 THEN S.SumPoints ELSE R.PointsRaw END AS Points
        FROM Raw R
        LEFT JOIN SumPerPlayer S
          ON S.PlayerName = R.PlayerName
    )
    SELECT d.Matchup, ' + @cols + '
    FROM (
        SELECT GameNumber, Matchup, PlayerName, Pick, Wager, Points
        FROM Final
    ) AS d
    GROUP BY d.GameNumber, d.Matchup
    ORDER BY d.GameNumber;';

    EXEC sp_executesql
        @sql,
        N'@YearParam INT, @WeekParam INT, @PlayerParam INT',
        @YearParam=@YearParam, @WeekParam=@WeekParam, @PlayerParam=@PlayerParam;
END
GO
/****** Object:  StoredProcedure [dbo].[PickemSeedSeason]    Script Date: 8/27/2025 8:05:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PickemSeedSeason]
    @YearParam     INT,
    @ResetExisting BIT  = 0,
    @FillValues    BIT  = 0,      -- default OFF: only seed rows
    @RandomSeed    INT  = NULL    -- if set, shuffle/picks are reproducible
AS
BEGIN
  SET NOCOUNT ON; 
  SET XACT_ABORT ON;

  BEGIN TRY
    BEGIN TRAN;

    IF (@ResetExisting = 1)
      DELETE FROM dbo.PickemGames WHERE [Year] = @YearParam;

    INSERT INTO dbo.PickemGames ([Year],[Week],[Game],[Player])
    SELECT @YearParam, p.[Week], p.[GameNumber], ppl.[Record]
    FROM dbo.PickemPool p
    CROSS JOIN dbo.PickemPlayers ppl
    WHERE p.[Year] = @YearParam
      AND NOT EXISTS (
        SELECT 1 FROM dbo.PickemGames g
        WHERE g.[Year]=@YearParam AND g.[Week]=p.[Week]
          AND g.[Game]=p.[GameNumber] AND g.[Player]=ppl.[Record]
      );

    IF (@FillValues = 1)
    BEGIN
      /* ---- REAL GAMES: shuffled 1..N + random picks ---- */
      ;WITH RG AS (
        SELECT g.[Year], g.[Week], g.[Game], g.[Player]
        FROM dbo.PickemGames g
        JOIN dbo.PickemPool  p
          ON p.[Year]=g.[Year] AND p.[Week]=g.[Week] AND p.[GameNumber]=g.[Game]
        WHERE g.[Year]=@YearParam AND p.[Visitor] <> 'Tie Break'
      ),
      Permute AS (
        SELECT RG.*,
               -- Shuffle key: NEWID() (true shuffle), or deterministic hash when seeded
               ShuffleKey = CASE 
                 WHEN @RandomSeed IS NULL THEN NEWID()
                 ELSE CONVERT(uniqueidentifier,
                        SUBSTRING(
                          HASHBYTES('SHA2_256',
                              CONVERT(varbinary(4),@RandomSeed) +
                              CONVERT(varbinary(4),RG.[Year]) +
                              CONVERT(varbinary(4),RG.[Week]) +
                              CONVERT(varbinary(4),RG.[Game]) +
                              CONVERT(varbinary(4),RG.[Player])
                          ), 1, 16))
               END,
               -- Pick key: independent stream (different prefix to decorrelate)
               PickKey = CASE 
                 WHEN @RandomSeed IS NULL THEN NEWID()
                 ELSE CONVERT(uniqueidentifier,
                        SUBSTRING(
                          HASHBYTES('SHA2_256',
                              0x01 + CONVERT(varbinary(4),@RandomSeed) +
                                     CONVERT(varbinary(4),RG.[Year]) +
                                     CONVERT(varbinary(4),RG.[Week]) +
                                     CONVERT(varbinary(4),RG.[Game]) +
                                     CONVERT(varbinary(4),RG.[Player])
                          ), 1, 16))
               END
        FROM RG
      ),
      Ranked AS (
        SELECT P.*,
               WagerRank = ROW_NUMBER() OVER (
                 PARTITION BY P.[Year], P.[Week], P.[Player]
                 ORDER BY P.ShuffleKey         -- << true shuffle per (Y,W,Player)
               )
        FROM Permute P
      )
      UPDATE g
      SET g.Wager      = r.WagerRank,   -- 1..N unique
          g.VisitorWin = CASE WHEN (ABS(CHECKSUM(r.PickKey)) & 1) = 0 THEN 1 ELSE 0 END,
          g.HomeWin    = CASE WHEN (ABS(CHECKSUM(r.PickKey)) & 1) = 0 THEN 0 ELSE 1 END
      FROM dbo.PickemGames g
      JOIN Ranked r
        ON r.[Year]=g.[Year] AND r.[Week]=g.[Week]
       AND r.[Game]=g.[Game] AND r.[Player]=g.[Player];

      /* ---- TIE-BREAK: wager 20..80 + random picks (never NULL) ---- */
      ;WITH TB AS (
        SELECT g.[Year], g.[Week], g.[Game], g.[Player],
               TBKey = CASE 
                 WHEN @RandomSeed IS NULL THEN NEWID()
                 ELSE CONVERT(uniqueidentifier,
                        SUBSTRING(
                          HASHBYTES('SHA2_256',
                              0x02 + CONVERT(varbinary(4),@RandomSeed) +
                                     CONVERT(varbinary(4),g.[Year]) +
                                     CONVERT(varbinary(4),g.[Week]) +
                                     CONVERT(varbinary(4),g.[Game]) +
                                     CONVERT(varbinary(4),g.[Player])
                          ), 1, 16))
               END,
               PickKey = CASE 
                 WHEN @RandomSeed IS NULL THEN NEWID()
                 ELSE CONVERT(uniqueidentifier,
                        SUBSTRING(
                          HASHBYTES('SHA2_256',
                              0x03 + CONVERT(varbinary(4),@RandomSeed) +
                                     CONVERT(varbinary(4),g.[Year]) +
                                     CONVERT(varbinary(4),g.[Week]) +
                                     CONVERT(varbinary(4),g.[Game]) +
                                     CONVERT(varbinary(4),g.[Player])
                          ), 1, 16))
               END
        FROM dbo.PickemGames g
        JOIN dbo.PickemPool  p
          ON p.[Year]=g.[Year] AND p.[Week]=g.[Week] AND p.[GameNumber]=g.[Game]
        WHERE g.[Year]=@YearParam AND p.[Visitor]='Tie Break'
      )
      UPDATE g
      SET g.Wager      = 20 + (ABS(CHECKSUM(t.TBKey)) % 61),  -- 20..80
          g.VisitorWin = CASE WHEN (ABS(CHECKSUM(t.PickKey)) & 1) = 0 THEN 1 ELSE 0 END,
          g.HomeWin    = CASE WHEN (ABS(CHECKSUM(t.PickKey)) & 1) = 0 THEN 0 ELSE 1 END
      FROM dbo.PickemGames g
      JOIN TB t
        ON t.[Year]=g.[Year] AND t.[Week]=g.[Week]
       AND t.[Game]=g.[Game] AND t.[Player]=g.[Player];
    END

    COMMIT;
  END TRY
  BEGIN CATCH
    IF XACT_STATE()<>0 ROLLBACK; 
    THROW;
  END CATCH
END
GO
USE [master]
GO
