USE [Coster]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[PickemStandingsByWeek]
    @YearParam INT,
    @WeekParam INT
AS
BEGIN
    SET NOCOUNT ON;

    /* Base rows for this year/week across all players, excluding blank/NULL names */
    WITH Base AS (
        SELECT
            g.[Year],
            g.[Week],
            g.[Player],
            nt.NameTrim                                   AS PlayerName,   -- guaranteed non-blank
            p.GameNumber,
            p.Visitor,
            p.[Home],
            p.VisitorWin                                  AS PoolVisitorWin,
            p.HomeWin                                     AS PoolHomeWin,
            g.Wager,
            g.VisitorWin                                  AS PickVisitorWin,
            g.HomeWin                                     AS PickHomeWin
        FROM dbo.PickemGames   AS g
        JOIN dbo.PickemPool    AS p
             ON p.[Year] = @YearParam
            AND g.[Year] = @YearParam
            AND p.Week   = g.[Week]
            AND p.GameNumber = g.[Game]
        JOIN dbo.PickemPlayers AS ppl
             ON ppl.Record = g.[Player]
        CROSS APPLY (SELECT NULLIF(LTRIM(RTRIM(ppl.[Name])), '') AS NameTrim) nt
        WHERE g.[Year] = @YearParam
          AND g.[Week] = @WeekParam
          AND nt.NameTrim IS NOT NULL          -- 🚫 hide placeholder/blank names
    ),
    /* One row per player with totals */
    Agg AS (
        SELECT
            b.[Player] AS PlayerId,
            MAX(b.PlayerName) AS PlayerName,
            SUM(CASE
                    WHEN b.Visitor <> 'Tie Break'
                         AND (
                              (b.PickHomeWin    = 1 AND b.PoolHomeWin    = 1)
                           OR (b.PickVisitorWin = 1 AND b.PoolVisitorWin = 1)
                         )
                    THEN NULLIF(b.Wager,0) ELSE 0
                END) AS TotalPoints,
            SUM(CASE
                    WHEN b.Visitor <> 'Tie Break'
                         AND (
                              (b.PickHomeWin    = 1 AND b.PoolHomeWin    = 1)
                           OR (b.PickVisitorWin = 1 AND b.PoolVisitorWin = 1)
                         )
                    THEN 1 ELSE 0
                END) AS CorrectCount,
            MAX(CASE WHEN b.Visitor = 'Tie Break' THEN b.Wager END) AS TieBreakGuess
        FROM Base b
        GROUP BY b.[Player]
    ),
    /* Week's actual tie-break total (from the 'Tie Break' row in pool) */
    TB AS (
        SELECT
            p.[Year],
            p.[Week],
            TieBreakActual =
                CASE
                  WHEN p.Visitor = 'Tie Break'
                   AND (ISNULL(p.VisitorScore,0) <> 0 OR ISNULL(p.HomeScore,0) <> 0)
                  THEN ISNULL(p.VisitorScore,0) + ISNULL(p.HomeScore,0)
                END
        FROM dbo.PickemPool p
        WHERE p.[Year] = @YearParam
          AND p.[Week] = @WeekParam
          AND p.Visitor = 'Tie Break'
    )
    SELECT
        a.PlayerId,
        a.PlayerName,          -- non-blank only
        a.TotalPoints,
        a.CorrectCount,
        a.TieBreakGuess,
        tb.TieBreakActual,
        CASE
            WHEN a.TieBreakGuess IS NULL OR tb.TieBreakActual IS NULL THEN NULL
            ELSE ABS(a.TieBreakGuess - tb.TieBreakActual)
        END AS TieBreakDiff
    FROM Agg a
    LEFT JOIN TB tb
           ON tb.[Year] = @YearParam
          AND tb.[Week] = @WeekParam
    ORDER BY
        a.TotalPoints DESC,
        a.CorrectCount DESC,
        /* smallest diff wins when TB actual exists; push NULLs to the bottom */
        CASE
            WHEN a.TieBreakGuess IS NULL OR tb.TieBreakActual IS NULL THEN 2147483647
            ELSE ABS(a.TieBreakGuess - tb.TieBreakActual)
        END ASC,
        a.PlayerName ASC;  -- stable tertiary sort
END
GO
